// light mode
$color-background: #e7f6e9;
$color-background-container: #f4f5fc;
$color-tag: #d9dade;
$color-font-disable: #626265;
$color-font-active: #1f161e;
$color-action: #3aaa35;
$color-delete: #e94242;

//animation
@keyframes slide-y {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes bounce {
  0% {
    transform: rotate(0deg);
  }
  12% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  36% {
    transform: rotate(-10deg);
  }
  49% {
    transform: rotate(0deg);
  }
  61% {
    transform: rotate(10deg);
  }
  74% {
    transform: rotate(20deg);
  }
  87% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
