@import "../../shared/Variables.scss";

.customButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;

  svg {
    width: 30px;
    transition: all 0.3s ease-in-out;
  }
}

.close, .close:hover{
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0; 

  svg {
    width: 30px;   
    fill: $color-delete;
  }
}
